@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
   --cor1: #b9b9b9;
   --cor2: #BF2604;
   --cor3: #590C04;
   --cor4: #0D0D0D;
}

* {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body, html {
   background-color: #590C04;
   height: 100vh;
   width: 100vw;
}

main {
   position: relative;
   height: 100vh;
   width: 100vw;
}

section#login {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;

   background-color: #b9b9b9;
   width: 300px;
   height: 550px;
   border-radius: 20px;
   box-shadow: 0px 0px 10px #0d0d0dad;

   transition: ease width 0.5s, height 0.5s;
}

section#login > div#img {
   display: block;
   background: #590C04 url(../img/japao.jpg) no-repeat center;
   background-size: cover;
   height: 200px;
}

section#login > div#formu {
   display: block;
   padding: 20px;
}

div#formu > h1 {
   text-align: center;
   margin: 10px 0px 20px 0px;
   text-transform: uppercase;
}

div#formu > p {
   font-size: 0.8em;
   margin-bottom: 20px;
}

form > .campo {
   background-color: var(--cor2);
   margin: 5px 0px;
   border-radius: 10px;
   font-size: 1em;
   height: 35px;
}

div.campo > label {
   display: none;
}

div.campo > i  {
   font-size: 1.5rem;
   width: 35px;
   padding: 6px;
   margin-left: 5px;
}

div.campo > input {
   border: none;
   background-color: white;
   color: var(--cor1);
   font-size: 1rem;
   height: 100%;
   width: calc(100% - 44.2px) ;
   padding: 5px;
   border-radius: 0px 10px 10px 0px;
   transform: translateY(-6.9px);
}

form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 80%;
   height: 30px;
   margin: 7px auto;
   margin-top: 45px;
   color: var(--cor1);
   background-color: var(--cor2);
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

form > input[type=submit]:hover {
   background-color: var(--cor3);
}

form .material-icons {
   font-size: 1rem;
   padding: 3px;
}

form > a.btn {
   display: block;
   width: 80%;
   height: 30px;
   margin: 0 auto;
   text-align: center;
   font-size: 0.8em;
   text-decoration: none;
   color: var(--cor4);
   background-color: var(--cor1);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
   border-radius: 10px;
   cursor: pointer;
}

form > a.btn:hover {
   background-color: #858585;
}

/*div.campo > i {
   font-size: 1.9em;
   width: 40px;
   padding: 5px;
}*/